

.first-section {
    background-image: url('/images/home/first_section_background.webp');


    width: 100%;    
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 70px 5% 20%;
}

.first-section .title-container {
    width: 100%;
    gap: 10px;
    max-width: 470px;
    margin-left: 60px;
}